In [1]:
#installation of snscrape library
!pip3 install snscrape

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting snscrape
  Downloading snscrape-0.3.4-py3-none-any.whl (35 kB)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from snscrape) (4.9.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from snscrape) (4.6.3)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.7/dist-packages (from snscrape) (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->snscrape) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->snscrape) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->snscrape) (2022.6.15)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->snscrape) (1.24.3)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->snscrape) (1.7.1)
Installing collected packages: snscrape
Successfully installed snscrape-0.3.4

In [ ]:
#importing the necessary documentation
import snscrape.modules.twitter as sntwitter
import pandas as pd
from datetime import date, timedelta
import tweepy
from textblob import TextBlob
import numpy as np
import re
import matplotlib.pyplot as plt

In [ ]:
#Setting the daterange function
def daterange(start_date, end_date):
    for n in range(int((end_date-start_date).days)):
        yield end_date - timedelta(n)

In [ ]:
year_M = []
start_date = date(2018,1,1)
end_date = date(2022,8,14)
for single_date in daterange(start_date, end_date):
    year_M.append(single_date.strftime("%Y-%m-%d"))

In [ ]:
tweets_list = []

In [ ]:
#scraping 150 tweets per day for 'Bitcoin' for the set range of dates.
for n,k in enumerate(year_M):
    
    for i,tweet in enumerate(sntwitter.TwitterSearchScraper('Bitcoin since:2016-10-21 until:{}'.format(year_M[n])).get_items()):
        if i>150:
            break
    
        tweets_list.append([tweet.date, tweet.id, tweet.content])

In [ ]:
df = pd.DataFrame(tweets_list, columns=['Datetime', 'Tweet Id', 'Tweet'])

In [ ]:
df.head()

,Datetime,Tweet Id,Tweet
0,2022-08-13 23:59:59+00:00,1558604309796888578,Current #Cardano price Alert: \n\n#ADA $0.56 U...
1,2022-08-13 23:59:56+00:00,1558604296626880517,@Bitcoin_K_S_A Ø·ÛŒØ¨
2,2022-08-13 23:59:55+00:00,1558604294236131330,played a free round of golf today. would of co...
3,2022-08-13 23:59:54+00:00,1558604288238260230,@thatgirljennab i donâ€™t know how i didnâ€™t see ...
4,2022-08-13 23:59:52+00:00,1558604278209675266,#Bitcoin Last Price $24454 #BTC ðŸš€\nWeekly Indi...

In [ ]:
#storing the collected tweets in a csv file
df.to_csv("bit_tweet.csv", index=False)